<header class="app-header">
  <div class="header-left">
    <span class="app-title">AzCake BPM</span>
    <div class="clock">
      🕒 {{ currentDate }}
    </div>
  </div>

  <div class="header-right">
    <p class="welcome-message">Salam, {{ userName }}!</p>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
    <button class="logout-button" (click)="signOut()">Çıx</button>
  </div>
</header>

<nav class="side-nav" [class.open]="menuOpen">
  <ul>
    <li *ngFor="let item of visibleMenuItems">
      <a [routerLink]="item.link" routerLinkActive="active" class="button" (click)="toggleMenu()">
        {{ item.label }}
      </a>
    </li>
  </ul>
</nav>
