<header>
  <div class="header-left">
    <span>AzCake BPM</span>
    <p>{{currentDate}}</p>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" class="button home">Ana səhifə</a></li>
      <li><a routerLink="/branches" routerLinkActive="active" class="button home">Filiallar</a></li>
      <li><a routerLink="/sale" routerLinkActive="active" class="button home">Satışlar</a></li>
      <li><a routerLink="/sale-range" routerLinkActive="active" class="button home">Aralığ satışlar</a></li>
<!--      <li><a routerLink="/sales" routerLinkActive="active" class="button home">Gündəlik Satışlar</a></li>-->
<!--      <li><a routerLink="/payments" routerLinkActive="active" class="button home">Detallı Satışlar</a></li>-->
<!--      <li><a routerLink="/detailed-sales" routerLinkActive="active" class="button home">Gündəlik Detallı Satışlar</a></li>-->
    </ul>
  </nav>
  <div class="header-right">
    <div class="welcome-container">
      <p class="welcome-message">Xoş gəlmişsiniz {{userName}}!</p>
      <button class="logout-button" (click)="signOut()">Çıx</button>
    </div>
  </div>
</header>
