<form (submit)="onSubmit()" >
  <label for="date" class="form-label">Tarix</label>
  <input type="date" id="date" [(ngModel)]="date" name="date" required class="date-input">
  <button type="submit" class="btn">Yüklə</button>
  <button class="btn" *ngIf="sales" (click)="downloadExcel()">Excel olaraq yüklə</button>
</form>

<div>
  <h2>Filterlər</h2>
  <div style="max-width: 300px !important;" *ngIf="sales?.data">
    <ng-multiselect-dropdown
      class="multiselect-dropdown"
      [placeholder]="'Filialı seç'"
      [data]="branches"
      [settings]="dropdownSettings"
      [(ngModel)]="filters.branchName"
      (ngModelChange)="applyFilters()"
    >
    </ng-multiselect-dropdown>
  </div>
</div>

<div class="table-container" *ngIf="sales?.data">
<!--  <div class="filters">-->
<!--    <label>-->
<!--      Mağaza-->
<!--      <select [(ngModel)]="filters.branchName" (change)="applyFilters()">-->
<!--        <option value="">Hamısı</option>-->
<!--        <option *ngFor="let branch of getUniqueValues('branchName')" [value]="branch">-->
<!--          {{ branch }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </label>-->
<!--    <label>-->
<!--      Məhsul-->
<!--      <select [(ngModel)]="filters.productName" (change)="applyFilters()">-->
<!--        <option value="">Hamısı</option>-->
<!--        <option *ngFor="let product of getUniqueValues('productName')" [value]="product">-->
<!--          {{ product }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </label>-->
<!--    <label>-->
<!--      Məhsul kodu-->
<!--      <select [(ngModel)]="filters.barcode" (change)="applyFilters()">-->
<!--        <option value="">Hamısı</option>-->
<!--        <option *ngFor="let barcode of getUniqueValues('barcode')" [value]="barcode">-->
<!--          {{ barcode }}-->
<!--        </option>-->
<!--      </select>-->
<!--    </label>-->
<!--  </div>-->

  <table class="sales-table">
    <thead>
    <tr>
      <th>Mağaza</th>
      <th>Tarix</th>
      <th>Məhsul adı</th>
      <th>Barkodu</th>
      <th>Bir məhsulun qiyməti</th>
      <th>Toplam satış sayı</th>
      <th>Toplam qiyməti</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sale of filteredSales">
      <td class="sticky-column">{{ sale.branchName }}</td>
      <td>{{ sale.saleDate  }}</td>
      <td>{{ sale.productName }}</td>
      <td>{{ sale.barcode }}</td>
      <td>{{ sale.price | number: '1.2-2' }}</td>
      <td>{{ sale.quantity }}</td>
      <td>{{ sale.total | number: '1.2-2' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>






<!--<form (submit)="onSubmit()" *ngIf="branches.length > 0">-->
<!--  <ng-multiselect-dropdown-->
<!--                           class="multiselect-dropdown"-->
<!--                           [placeholder]="'Filial üzrə axtarış et'"-->
<!--                           [data]="dropDownBranches()"-->
<!--                           [(ngModel)]="selectedBranch"-->
<!--                           [ngModelOptions]="{standalone: true}"-->
<!--                           [settings]="dropDownSettings"-->
<!--  ></ng-multiselect-dropdown>-->
<!--  <label for="date" class="form-label">Tarix</label>-->
<!--  <input type="date" id="date" [(ngModel)]="date" name="date" required class="date-input">-->

<!--  <button type="submit" class="btn">Yüklə</button>-->
<!--</form>-->
<!--<button class="button download-btn" *ngIf="sales" (click)="downloadExcel()">Excel olaraq yüklə</button>-->

<!--<div class="table-container" *ngIf="sales?.data">-->
<!--  <table class="sales-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Mağaza</th>-->
<!--      <th>Mehsul adı</th>-->
<!--      <th>Barkodu</th>-->
<!--      <th>Bir məhsulun qiyməti</th>-->
<!--      <th>Toplam satış sayı</th>-->
<!--      <th>Toplam qiyməti</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let sale of sales!.data[0]!.dailySales">-->
<!--      <td class="sticky-column">{{sale.branchName}}</td>-->
<!--      <td>{{sale.productName}}</td>-->
<!--      <td>{{sale.barcode}}</td>-->
<!--      <td>{{sale.price}}</td>-->
<!--      <td>{{sale.quantity}}</td>-->
<!--      <td>{{sale.total}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="filters" *ngIf="sales?.data">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="filter.branchName" placeholder="Mağaza üzrə filtr" class="filter-input">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="filter.productName" placeholder="Məhsul üzrə filtr" class="filter-input">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="date" [(ngModel)]="filter.statementDate" placeholder="Tarix üzrə filtr" class="filter-input">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="filter.barcode" placeholder="Barcode üzrə filtr" class="filter-input">&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn" (click)="clearFilters()">Sıfırla</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<button *ngIf="sales" class="btn">Excel olaraq yüklə</button>&ndash;&gt;-->

<!--<div *ngIf="errorMessage" class="error-message">-->
<!--  {{errorMessage}}-->
<!--</div>-->
