<div class="branches">
  <h2>GrandMart</h2>
  <table class="branches-table">
    <thead>
    <tr>
      <th>Kodu</th>
      <th>Adı</th>
      <th>Ünvanı</th>
      <th>Statusu</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let branch of branches[0]">
      <td>{{branch.branchCode}}</td>
      <td>{{branch.branchName}}</td>
      <td>{{branch.address == '' ? 'Qeyd olunmayıb' : branch.address}}</td>
      <td class="status" [ngClass]="branch.status ? 'active' : 'deleted'">{{branch.status ? 'Aktiv' : 'Deaktiv' }}</td>
    </tr>
    </tbody>
  </table>
</div>
