<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label for="date" class="form-label">Tarix</label>
    <input type="date" id="date" [(ngModel)]="date" name="date" required class="form-input" />
    <button type="submit" class="btn submit-btn">Yüklə</button>
  </div>
</form>
<button class="button download-btn" *ngIf="sales" (click)="downloadExcel()">Excel olaraq yüklə</button>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="table-wrapper" *ngFor="let sales of [filteredSales1, filteredSales2, filteredSales3]; let i = index">
  <h2 class="table-title">{{ ['Kulinariya', 'Şirniyyat', 'Təndir'][i] }}</h2>
  <div class="table-container">
    <table class="sales-table">
      <thead>
      <tr>
        <th>Filial</th>
        <th>Məhsul kodu</th>
        <th>Məhsul adı</th>
        <th>Barkodu</th>
        <th>Say</th>
        <th>Qiymət</th>
        <th>Toplam</th>
      </tr>
      </thead>
      <tbody class="scrollable-body">
      <tr *ngFor="let dailySale of sales">
        <td>{{ dailySale.branchName }}</td>
        <td>{{ dailySale.productCode }}</td>
        <td>{{ dailySale.productName }}</td>
        <td>{{ dailySale.barcode }}</td>
        <td>{{ dailySale.quantity }}</td>
        <td>{{ dailySale.price | number: '1.2-2' }}</td>
        <td>{{ dailySale.total | number: '1.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-total">
    <span class="total-label">Cəmi məbləğ:</span>
    <span class="total-value">{{ getTotal(sales) | number: '1.2-2' }}</span>
  </div>
</div>
