<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label for="date" class="form-label">Tarix</label>
    <input type="date" id="date" [(ngModel)]="date" name="date" required class="form-input" />
    <button type="submit" class="btn submit-btn">Yüklə</button>
  </div>
</form>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="table-wrapper" *ngIf="filteredSales1.length">
  <h2 class="table-title">Kulinariya</h2>
  <div class="table-container">
    <table class="sales-table">
      <thead>
      <tr>
        <th>Filial</th>
        <th>Məhsul kodu</th>
        <th>Məhsul adı</th>
        <th>Barkodu</th>
        <th>Say</th>
        <th>Qiymət</th>
        <th>Toplam</th>
      </tr>
      </thead>
      <tbody class="scrollable-body">
      <tr *ngFor="let dailySale of filteredSales1">
        <td>{{ dailySale.branchName }}</td>
        <td>{{ dailySale.productCode }}</td>
        <td>{{ dailySale.productName }}</td>
        <td>{{ dailySale.barcode }}</td>
        <td>{{ dailySale.quantity }}</td>
        <td>{{ dailySale.price | number: '1.2-2' }}</td>
        <td>{{ dailySale.total | number: '1.2-2' }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="total-label">Cəmi məbləğ:</td>
        <td class="total-value">{{ getTotal(filteredSales1) | number: '1.2-2' }}</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="table-wrapper" *ngIf="filteredSales2.length">
  <h2 class="table-title">Şirniyyat</h2>
  <div class="table-container">
    <table class="sales-table">
      <thead>
      <tr>
        <th>Filial</th>
        <th>Məhsul kodu</th>
        <th>Məhsul adı</th>
        <th>Barkodu</th>
        <th>Say</th>
        <th>Qiymət</th>
        <th>Toplam</th>
      </tr>
      </thead>
      <tbody class="scrollable-body">
      <tr *ngFor="let dailySale of filteredSales2">
        <td>{{ dailySale.branchName }}</td>
        <td>{{ dailySale.productCode }}</td>
        <td>{{ dailySale.productName }}</td>
        <td>{{ dailySale.barcode }}</td>
        <td>{{ dailySale.quantity }}</td>
        <td>{{ dailySale.price | number: '1.2-2' }}</td>
        <td>{{ dailySale.total | number: '1.2-2' }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="total-label">Cəmi məbləğ:</td>
        <td class="total-value">{{ getTotal(filteredSales2) | number: '1.2-2' }}</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="table-wrapper" *ngIf="filteredSales3.length">
  <h2 class="table-title">Təndir</h2>
  <div class="table-container">
    <table class="sales-table">
      <thead>
      <tr>
        <th>Filial</th>
        <th>Məhsul kodu</th>
        <th>Məhsul adı</th>
        <th>Barkodu</th>
        <th>Say</th>
        <th>Qiymət</th>
        <th>Toplam</th>
      </tr>
      </thead>
      <tbody class="scrollable-body">
      <tr *ngFor="let dailySale of filteredSales3">
        <td>{{ dailySale.branchName }}</td>
        <td>{{ dailySale.productCode }}</td>
        <td>{{ dailySale.productName }}</td>
        <td>{{ dailySale.barcode }}</td>
        <td>{{ dailySale.quantity }}</td>
        <td>{{ dailySale.price | number: '1.2-2' }}</td>
        <td>{{ dailySale.total | number: '1.2-2' }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="total-label">Cəmi məbləğ:</td>
        <td class="total-value">{{ getTotal(filteredSales3) | number: '1.2-2' }}</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
