<form (ngSubmit)="onSubmit()">
  <label for="startDate" class="form-label">Başlama tarixi</label>
  <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required class="date-input">
  <label for="endDate" class="form-label">Bitmə tarixi</label>
  <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required class="date-input">
  <ng-multiselect-dropdown
    class="multiselect-dropdown"
    [placeholder]="'Filiallar seçin'"
    [data]="branches"
    [(ngModel)]="selectedBranches"
    [ngModelOptions]="{standalone: true}"
    [settings]="dropDownSettings"
  ></ng-multiselect-dropdown>

  <button type="submit" class="btn">Yüklə</button>
  <button *ngIf="showDownloadButton" (click)="downloadExcel()" class="btn">Excel olaraq yüklə</button>
</form>

<div *ngIf="errorMessage" class="error-message">
  {{errorMessage}}
</div>

<div class="filters" *ngIf="payments.length > 0">
  <input type="text" [(ngModel)]="filter.branchName" placeholder="Mağaza üzrə filtr" class="filter-input">
  <input type="text" [(ngModel)]="filter.productName" placeholder="Məhsul üzrə filtr" class="filter-input">
  <input type="date" [(ngModel)]="filter.statementDate" placeholder="Tarix üzrə filtr" class="filter-input">
  <input type="text" [(ngModel)]="filter.barcode" placeholder="Barcode üzrə filtr" class="filter-input">
  <button class="btn" (click)="clearFilters()">Sıfırla</button>
</div>

<div class="payments table-container" *ngIf="payments.length > 0">
<table class="payments-table">
  <thead>
    <tr>
      <th class="sticky-column sticky-column-header">İşyeri Açıklaması</th>
      <th class="sticky-column-header_additional">Malzeme Kodu</th>
      <th class="sticky-column-header_additional">Malzeme Açıklaması</th>
      <th class="sticky-column-header_additional">Malzeme Barkodu</th>
      <th class="sticky-column-header_additional">Satış Miktarı</th>
      <th class="sticky-column-header_additional">Satış İade Miktarı</th>
      <th class="sticky-column-header_additional">Net Satış Miktarı</th>
      <th class="sticky-column-header_additional">Satış İade Tutarı (KDV Dahil)</th>
      <th class="sticky-column-header_additional">Net Satış Tutarı (KDV Dahil)</th>
      <th class="sticky-column-header_additional">Net Alış Tutarı (KDV Dahil)</th>
      <th class="sticky-column-header_additional">Birim 1 Kodu</th>
      <th class="sticky-column-header_additional">Rapor Tarihi</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of filteredPayments()">
    <td  class="sticky-column">{{payment.branchName}}</td>
    <td>{{payment.productCode}}</td>
    <td>{{payment.productName}}</td>
    <td>{{payment.productBarcode}}</td>
    <td>{{payment.sellsCount}}</td>
    <td>{{payment.sellsReturnCount}}</td>
    <td>{{payment.sellsCountNet}}</td>
    <td>{{payment.sellsReturnCountAst}}</td>
    <td>{{payment.sellsCountNetAst}}</td>
    <td>{{payment.purchaseCountNetAst}}</td>
    <td>{{payment.birimCode}}</td>
    <td>{{payment.statementDate}}</td>
  </tr>
  </tbody>
</table>
</div>


