@import "ngx-toastr/toastr";
@import "tailwindcss";

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: block;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
