.table-container {
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  border: 1px solid #ddd;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
}

.sales-table th,
.sales-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.sales-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.sticky-column {
  position: sticky;
  left: 0;
  background-color: #f2f2f2 !important;
  z-index: 3 !important;
  border-right: 1px solid #ddd;
}

.sticky-column-header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #3498db !important;
  z-index: 4 !important;
  border-right: 1px solid #ddd;
}


.date-input {
  border: 2px solid #4CAF50;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.date-input:focus {
  border-color: #45a049;
  outline: none;
}

.form-label {
  font-weight: bold;
  color: #4CAF50;
  margin-right: 10px;
  font-size: 14px;
  display: inline-block;
  width: 100px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filter-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.filter-input:focus {
  border-color: #4CAF50;
  outline: none;
}
