<form (ngSubmit)="onSubmit()">
  <label for="startDate" class="form-label">Başlama tarixi</label>
  <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required class="date-input">
  <label for="endDate" class="form-label">Bitmə tarixi</label>
  <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required class="date-input">
  <ng-multiselect-dropdown
    class="multiselect-dropdown"
    [placeholder]="'Satış növünü seçin'"
    [data]="dataTypes"
    [(ngModel)]="selectedType"
    [ngModelOptions]="{standalone: true}"
    [settings]="dropDownSettings"
  ></ng-multiselect-dropdown>



  <button type="submit" class="btn">Yüklə</button>
<!--  <button *ngIf="showDownloadButton" (click)="downloadExcel()" class="btn">Excel olaraq yüklə</button>-->
</form>

<div *ngIf="errorMessage" class="error-message">
  {{errorMessage}}
</div>

<div class="table-container" *ngIf="sales.length > 0">
  <table class="sales-table">
    <thead>
    <tr>
      <th class="sticky-column sticky-column-header">Raport Tarixi</th>
      <th *ngFor="let branch of branches">{{ branch }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let date of uniqueDates">
      <td class="sticky-column">{{ date }}</td>
      <td *ngFor="let branch of branches">
        {{ getAmountForBranchAndDate(branch, date) || '-' }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
